/* בסיסי */
/* עיצוב דיב של התוכן */
.books {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.books-container{
    width: 60%; 
}
table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #007bff;
    color: white;
}

tr:hover {
    background-color: #f1f1f1;
}

button {
    padding: 6px 12px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#bookDetails {
    direction: rtl;
    width: 35%;
    padding: 20px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 20px;
}
form{
    display: none;
}
#update{
    background-color: green;
}
#delete{
    background-color: red;
}
#bookDetails h3 {
    margin-top: 0;
    color: #333;
}
